{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="static/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- <link href="static/style.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous"> 
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> -->
    
</head>
<body>
    <section>
        <h1>
            Halo Apa Kabar
        </h1>
        <form action="/" method="post">
            {% csrf_token %}
            <div>
                <label for="">Nama :</label>
                <input type="text" name="name" value="{{ current_name }}">
            </div>
            <div>
                <label for="">Status :</label>
                <input type="text" name="status" value="{{ current_status }}">
            </div>
            <input type="submit" value="Submit">
        </form>
        {% if Status %}
            <ul>
                {% for status in Status %}
                    <li class="box">
                        <div>
                            <div> Name: {{ status.name }} </div>
                            <div> Status: {{ status.status }} </div>
                            <div> Date: {{ status.date }} </div>
                        </div>
                        <hr>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No status are available.</p>
        {% endif %}
    </section>
</body>
</html>
